[submodule "nd032-c3-asynchronous-programming-with-javascript-project-starter"]
	path = nd032-c3-asynchronous-programming-with-javascript-project-starter
	url = https://github.com/udacity/nd032-c3-asynchronous-programming-with-javascript-project-starter.git
