<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Travelling app</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div id = "app">
    <div class ="holder headline">
	 <h1>Travel planner</h1>
    </div>
    <div class ="holder destination">
	  <label for="destination">Where will you go?</label>
	  <input type="text" id="destination" placeholder="enter destination here">
	  <label for="travelDate">When will you leave?</label>
	  <input type="text" id="travelDate" placeholder="yyyy-mm-dd"></textarea>
	  <button id="generate" type = "submit"> Search </button>
    </div>
    <div class ="holder entry">
	  <div class = "title">Information of destination</div>
	  <div id = "entryHolder">
	    <div id = "content"></div>	
	  </div>
    </div>
  </div>
  
</body>
</html>