<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Travelling app</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="headline">
    <h1>Travel planner</h1>
  </div>
  <div id="app">  
	<div class="holder result" id="result">	  
	  <div class="trip">
		<div class="trip-left">
	      <img src="" id="img">
		</div>
		<div class="trip-right">
		  <p class="highlight-bold">Your trip to: <span id="dest"></span></p>
		  <p class="highlight-bold">Departing on: <span id="date"></span></p>
		  </br>
		  <p>Your trip is <span id="days"></span> days away<span id="duration"></span>.</p>
		  <p>The weather will be "<span id="weather"></span>". The temperature is expected to be around <span id="temp"></span> degrees.</p>
		</div>	
	  </div>
    </div>
	<div class="holder destination">
	  <label for="destination">Where will you go?</label>
	  <input type="text" id="destination" placeholder="enter destination here">
	  <label for="travelDate">When will you leave?</label>
	  <input type="text" id="travelDate" placeholder="yyyy-mm-dd"></textarea>
	  <label for="returnDate">When will you come back?</label>
	  <input type="text" id="returnDate" placeholder="yyyy-mm-dd"></textarea>
	  <div id="message"></div>
	  </br>
	  <button id="generate" type = "submit"> Search </button>
    </div>
  </div>
</body>
</html>